@charset "UTF-8";

body {
    background-color: #A8FFC1;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #41694C;
}

#principal {
    text-align: center;
    color: #ffffff;
    background-color: #568B65;
}

h2 {
    color: #568B65;
}

.basico {
color: #568B65;
font-weight: bold;
}

.intermediario {
color: #8b8756;
font-weight: bold;
}

.avancado {
color: #8b5656;
font-weight: bold;
}